:root {
  --drop-down: #347153;
  --bg: #1E6140;
  --white: #ffffff;
  --accent-color: #84be51;
  --buttonn-bg: #e84e0f;
  --second-accent-color: #8d3200;
  --link-bg: #e74e13;
  --page-bg: #f8f8f8;
  --text-color: rgba(0,0,0,0.5)
}